.header {
  position: fixed;
  top: 0;
  width: 100%;
  background-image: linear-gradient(to top, $ui-grey, #ffffff);
  height: $header-height;

  padding-top: 20px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5);
  z-index: 100;
}

.header-logo {
  max-width: 205px;
  margin: 0 auto;

  > img { width: 100%; }
} 

.header-title { 
  text-align: center;
  color: $blue;
  font-size: $type-medium;
  font-weight: normal;
  margin-top: 15px;

   & > a {
    margin-left: 10px;
    margin-right: 10px;
   }
 }