.map-link {
  background: $green;
  color: #fff;
  padding: 20px;
  border-bottom: 1px solid rgba(0,0,0,0.3);

  font-weight: bold;
  font-size: $type-smedium;
  line-height: $type-medium;
}
.map-link > a {
  display: block;
  height: 100%;
  width: 100%;
}