.nav {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.nav-item {
  display: inline-block;
  padding: 5px 10px;
  border: 1px solid grey;

  margin-right: 10px;
}
.nav-item-link {
  display: block;
}