.nav {
  background: blue;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
}

.nav-item {
  background: #fff;
  display: inline-block;
  padding: 5px 10px;
  border: 1px solid grey;

  margin-right: 10px;
}
.nav-item-link {
  display: block;
}