$type-xlarge: 36px;
$type-large: 24px;
$type-medium: 18px;
$type-smedium: 16px;
$type-small: 14px;


$ui-grey: #ebebeb;
$charcoal: #4a4a4a;
$pink: #ed2a7b;
$yellow: #fdbe15;
$blue: #0994b2;
$green: #adc874;

$header-height: 135px;
$nav-height: 50px;
